.message {
    background-color: 	#9FE2BF;
    padding: 15px 40px; 
    border: 1px solid 	#228B22;
    position: absolute;
    border-radius: 3px;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: #228B22;
   display: none;
   z-index: 1;

   
}

.bi-check-circle-fill,.bi-x-circle-fill {
   
 transform: translateY(3px);
 margin-right: 10px;
   
}
#err-msg {
    color: #BA0021;
    background-color: #fd5c63;
    border: 1px solid #BA0021;
    
}
@media screen and (max-width:825px) {
    .message {
        width: 80%;
    }
    
}