.text-w-40 {
    width: 40%;
}
#cartInfo {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.confirm-shopping {
    background-color: 	#FF8C00;
    border: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s;

  
}
.confirm-shopping:hover {
    opacity: 0.9;
}
.payment-buttons {
    margin-top: 15px;
}