#contact-container {
    margin: 200px auto;
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
   

}
.contacts-types {
    display: flex;
    flex-direction: column;
width: 50%;
  
 
    
}
#message-textarea {
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
   
}
.contact-section {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: ellipsis;
}
.contacts-types p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;

}
.contact-icon {
 
    color: #004526;
    margin-right:20px ;
    font-size: 30px;
    transform: translateY(7px);
}
.location-company {


  width: 50%;
}
.contact-section label {
    font-size: 12px;
    margin: 5px 0;
}
.message-us {
    background-color: transparent;
    border: 1px solid #d4d4d4;
   outline: none;
    background-color: #fafafa;
    resize: none;
    width: 100%;
    height: 90px;
    padding: 5px 8px;
}
@media screen and (max-width:991px) {
    .contacts-types,.location-company {
        width: 100%;
    }
    .contacts-types{
        order: 2;
        margin-top: 5px;
    }
    .location-company {
        order: 1;
    }
    #contact-container {
        width: 95%;
    }
    
}