.login-form-container {
    margin: 200px 0;
    display: flex;
    justify-content: center;

}
.login-form {
  width: 600px;
  box-shadow: 0 0 10px 3px #ccc;
    border-radius: 3px;
    padding: 20px;
}
.form-text{
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid #d4d4d4;
    transition: 0.4s ;
    background-color: #fafafa;
    resize: none;
 
}

.login-form h3 {
    text-align: center;
   
    margin: 20px 0;
}
.account-form-input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.login-form label {
    font-size: 12px;
    padding:5px 0 ;
  
}
.login-btn {
    width: 100%;
    background-color: #006400;
    padding: 7px ;
    color: #fff;
    border: 0;
  font-size: 16px;
  cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
}
.login-btn:hover {
    opacity: 0.9;
}
.login-with-social-media {
    display: flex;
  
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.login-with-social-media button {
    cursor: pointer;
    padding: 8px 15px;
    border: 0;
    margin-top: 10px;
    font-size: 14px;
color: #fff;
    border-radius: 5px;
}
.forgot-pswd {
    color: #a1a1a1;
    font-size: 12px;
}
.login-icon {
    transform: translateY(2px);
}
#loginGoogle {
    background-color: #E31837;
}
#loginFacebook {
    background-color: #00308F;
}

@media screen and (max-width:991px) {

    .login-form {
        width: 60%;
    }
}
@media screen and (max-width:825px) {
    .login-form {
        width: 95%;
    }
    .login-with-social-media button {
        width: 100%;
    }
    
}