@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat:ital,wght@1,500;1,600;1,700&family=Poppins:wght@100;200;300;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.col-1 {
  width: 25%;

}
.col-2 {
  width: calc(100% / 3);
}

.col-3 {
  width: 50%;
}
.col-4 {
  width: 100%;
}
img {
  width: 100%;
}



@media screen and (max-width:991px) {
  
  .col-1,.col-2,.col-3,.col-4 {
    width: 100%;
  }

}

  